<div class="row row-baseStation">
  <div class="col-sm-12 col-md-12 main">
    <h3>Base station {deviceid}</h3>
  </div>
  <div class="col-md-6 info">
    <table class="table table-condensed table-striped">
      <tbody>
      </tbody>
    </table>
  </div>
  <div class="col-md-6 map">
    
  </div>
</div>