<div class="row hidden row-messages">
  <div class="col-sm-12 col-md-12 main">
    <h3>Device {deviceid}</h3>
    <h5><a href="">Download <span class="glyphicon glyphicon-download-alt"></span></a></h5>
    <table class="table table-striped" id="messages">
      <thead>
        <tr>
          <th>Date</th>
          <th>#</th>
          <th>Payload</th>
          <th>Base stations</th>
          <th>Location</th>
        </tr>
      </thead>
      <tbody>

      </tbody>
    </table>
  </div>
</div>
<script src="/js/gps.js"></script>