<div class="row">
         <div class="col-sm-12 col-md-12 main">
          <h3 class="page-header">Search for a device</h3>
          <form id="deviceSearchForm">
            <div class="input-group">
              <input type="text" class="form-control" placeholder="Device ID" id="deviceId" required autofocus>
              <span class="input-group-btn ">
                <button class="btn btn-default btn-sigfox" type="submit" id="btnSearchDeviceId">
                  <span class="glyphicon glyphicon-search"> </span>
                  Search
                </button>
              </span>
            </div>
            <p id="status" class="hidden">
              
            </p>
           </form>
          </div>
        </div>